body {
    background: white;
    color: black;
    font-family: sans-serif;
    line-height: 1.4em;
    text-align: center;
    margin: 0;
    padding: 0;
}

#banner {
    background: black;
    color: #F2F2F2;
    line-height: 1.2em;
    padding: .3em 1em .3em 1em;
    box-shadow: 0 5px 10px black;
}

#banner a {
    color: #00B140;
}

#main {
    text-align: left;
    margin: 0 auto;
    min-width: 32em;
    max-width: 64em;
}

#menu {
    float: right;
    width: 13em;
    padding: 0;
    border-left: 2px solid #DDD;
}
.nav ul{
    margin:0;
    padding:20px;
}
.nav h1{
    padding:0 20px;
}
.nav ul li{
    list-style-type:none;
    padding:0;
    margin:0;
}

#content {
    margin-right: 13.5em;
    padding: 0 .2em 0 1.5em;
}

h1 {
    display: block;
    font-size: 3em;
    text-align: left;
    margin: 0.5rem 0 0 0;
}

h1 img {
    width: 100%;
}

h2 {
    text-align: center;
}

p {
    text-align: justify;
}

table.news p {
    margin-top: 0;
}

table.news td {
    vertical-align: baseline;
}

table.news .date {
    text-align: right;
    padding-right: 0.5em;
    white-space: nowrap;
}

table.donors td {
    vertical-align: baseline;
}

table.donors li {
    text-align: left;
}

div.directive {
    background: #F2F2F2;
    line-height: 1em;
    margin: 1em 0 1em -1em;
    padding: .7em .7em .7em 1em;
    border-top: 2px solid #DDD;
}

div.directive th {
    padding-left: 0;
    padding-right: .5em;
    vertical-align: baseline;
    text-align: left;
    font-weight: normal;
}

div.directive td {
    vertical-align: baseline;
}

div.directive pre {
    padding: 0;
    margin: 0;
}

div.directive p {
    margin: .5em 0 0 .1em;
    font-size: .8em;
}

a.notrans {
    color: gray;
    text-decoration:none;
}

span.initial {
    font-size: 200%;
    float: left;
    padding-right: 10pt;
}

ul, ol {
    margin: .5em 0 1em 1em;
    padding: 0 .5em;
}

ol {
    list-style-position: inside;
}

li {
    text-align: justify;
    padding: .5em 0 0 1px;
}

.compact li {
    padding-top: 0;
}

dl {
    margin: .5em 0 1em 0;
}

dt {
    margin: .5em 0;
}

.compact dt {
    margin-bottom: .2em;
}

dd {
    margin-left: 1.5em;
    padding-left: 1px;
    text-align: justify;
}

td.list {
    background: #F2F2F2;
}

blockquote {
    margin: 1em 0 1em 1em;
    padding: .5em;
}

li blockquote, dd blockquote {
    margin: .7em 0;
}

blockquote.note {
    border: 1px dotted #999;
    line-height: 1.2em;
    text-align: justify;
}

blockquote.example {
    line-height: 1em;
    border-left: 1px solid #BBB;
}

blockquote.example pre {
    padding: 0;
    margin: 0;
}

sup {
    font-size: 50%;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.video iframe, .video object, .video embed {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

@media screen and (max-width:750px) {
    #main {
        padding: 20px;
        min-width: inherit;
    }
    #main #content {
        width: 100%!important;
        padding: 0;
        border: none;
    }

    #banner-content {
        max-width: 70vw;
    }

    #menu {
        text-align: left;
    }

    /* Menu Mobile */
    :root {
        --white: #f9f9f9;
        --black: #000;
        --gray: #85888C;
        --green: #b6d7a8;
        color-scheme: light dark;
    } /* variables*/

    /* Nav menu */
    .nav {
        width: 15rem;
        height: 100%;
        max-height: 0;
        position: fixed;
        top: 50px;
        right: 0;
        border-left: 1px solid #909090;
        background-color: var(--white);
        overflow: hidden;
        transition: .5s ease-in-out;
    }
    .nav ul {
        margin: 0;
        padding: 20px;
    }
    .nav h1 {
        padding: 0 20px;
    }
    .nav ul li {
        list-style-type: none;
        padding:0;
        margin:0;
    }

    .hamb {
        cursor: pointer;
        float: right;
        position: absolute;
        top: 0;
        right: 0.25em;
        width: 3.5em;
        padding-top: 1.5em;
        z-index: 1100;
    }
    .hamb-line {
        background: var(--green);
        display: block;
        position: relative;
        height: 0.3em;
        width: 2.75em;
        border-radius:3px;
    }
    .hamb-line::before,.hamb-line::after {
        background: var(--green);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-in-out;
        width: 100%;
        border-radius:3px;
    }
    .hamb-line::before{
        top: 10px;
    }
    .hamb-line::after{
        top: -10px;
    }
    .side-menu {
        display: none;
    } /* Hide checkbox */
    .side-menu:checked ~ .nav{
        max-height: 100%;
        top: 50px;

    }
    .side-menu:checked ~ .hamb .hamb-line {
        background: transparent;
    }
    .side-menu:checked ~ .hamb .hamb-line::before {
        transform: rotate(-45deg);
        top: 0;
    }
    .side-menu:checked ~ .hamb .hamb-line::after {
        transform: rotate(45deg);
        top: 0;
    }

    code {
        white-space: pre-line;
    }
}

@media screen and (min-width:750px){
    .side-menu,.hamb-line {
        display: none;
    }
}
